<div class="error-container">
  <h1 class="error-title">Oops! Algo salió mal.</h1>
  <p class="error-message">Lo sentimos, pero ha ocurrido un error. {{error}}.</p>
  <p class="error-message"> Por favor, ingresá todos los datos correctamente.</p>
  <a href={{redirect}} class="error-link">{{text}}</a>
</div>