{{{layout}}}

{{{body}}}

  <h1 class="my-2">{{title}}</h1>
  <a href="/stock" class="btn btn-primary p-2 m-2">Volver</a>
  <form action="/stock/create" method="post">
    <div class="mb-3">
      <label for="materialName" class="form-label">Nombre del Producto*</label>
      <input type="text" class="form-control" id="materialName" name="name_material" >
    </div>
    <div class="mb-3">
      <label for="materialDescription" class="form-label">Descripción del Producto</label>
      <textarea class="form-control" id="materialDescription" name="description_material" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="purchasePrice" class="form-label">Precio de Compra*</label>
      <input type="text" class="form-control" id="purchasePrice" name="buy_price_material" step="0.01" >
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Cantidad*</label>
      <input type="text" class="form-control" id="quantity" name="amount_material" >
    </div>
    <div class="form-check">
      <label for="contains" class="form-check-label">Contiene...</label>
      <input type="checkbox"class="form-check-input" id="contains" name="contains">
    </div>
    <div class="mb-3">
      <label for="flexCheckIndeterminate" class="form-label">Cantidad del contenido*</label>
      <input type="text" class="form-control" id="howMuchContains" name="how_much_contains" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Cargar Producto</button>
  </form> 

<script type="module" src="/javaScript/stock.js"></script>