.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #626262;
  border-top: 10px solid #282828;
  border-radius: 100%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: fixed;
  inset: 0;
  margin: auto;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
