/* sidebar.css */
.sidebar {
    width: 250px;
    height: calc(80vh - 4rem); /* Ajustar la altura para que comience debajo de la navbar */
    position: fixed;
    text-align: center;
    top: 6.3em; /* La altura de la navbar */
    left: 0;
  }
  
  .sidebar a.active {
    font-weight: bold;
    color: #4CAF50; /* Color cuando el enlace está activo */
  }
  